.App {
  background-color: #18191b;
  text-align: center;
  padding: 1%;

}
.App-main{
  display: flex;
  justify-content: space-between;

}
aside {
  color: white;
}
ul {
  list-style-type: none;
}
.SearchBar {
  padding-top: 20px;
}

iframe {
  margin-top: 20%;
  border: none;
}
p {
  max-width: 700px;
  font-size: 16px;
  padding: 5%;
}
input {
  margin: 25px;
  width: 300px;
  height: 20px;
  border-radius: 30px;
}

button {
  border-radius: 20px;
  padding: 10px;
  background-color:rgb(207, 43, 43);
  color: white;
}

.App-header {
  min-height: 100vh;
  display: flex;
  color: white;
}
h1, h2, h3 {
  color: rgb(207, 43, 43);
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
